{% extends "base.html" %}

{% block title %}Membership | PowerFit Gym{% endblock %}

{% block content %}
<h1>Membership Plans</h1>

<div class="plans">
    <div class="plan">
        <h3>Basic Plan</h3>
        <p>PKR 2,000 / month</p>
        <p>Access to gym equipment</p>
    </div>

    <div class="plan">
        <h3>Standard Plan</h3>
        <p>PKR 4,000 / month</p>
        <p>Gym + Group Classes</p>
    </div>

    <div class="plan">
        <h3>Premium Plan</h3>
        <p>PKR 5,500 / month</p>
        <p>All facilities + Personal Trainer</p>
    </div>
</div>
{% endblock %}
